body {
    background-color: black;
    font-family: 'Press Start 2P', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 40px;
    font-weight: lighter;
    color: whitesmoke;
    margin: 20px 0 40px 0;
}

.overlay {
    display: flex;
    justify-content: centers;
}
#startGame {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    /* top: 100px; */
    /* left: 500px; */
    height: 500px;
    width: 400px;
    color: #ffff00;
    background-color: black;
    border-style: none;
    font-family: 'Press Start 2P';
    font-size: 40px;
}

.playerInput {
    display: none;
    margin: 20px 0 40px 0;
    width: 350px;
    justify-content: space-between;
    color: whitesmoke;
}

#X, #O {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.winPopUp{
    color: #ffff00;
}

.tiePopUp{
    color: #FD0000;
}

.winPopUp, .tiePopUp {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 20px;
    min-height: 50px;
    min-width: 200px;
    font-size: 40px;
    border-radius: 20px;
    border: 2px solid #ffff00;
}

.grid {
    display: none;                      
    flex-wrap: wrap;   
    padding: 4px;                 
    justify-content: space-around;
    align-items: center;
    height: 330px;
    width: 330px;
    border: 1px solid #1919A6;
    border-radius: 10px;
    
  }
  .cell {
    flex: 0 0 100px;
    height: 100px;
    font-size: 40px;
    font-weight: lighter;
    color: #ffff00;
    background-color: black;
    border: 1px solid #1919A6;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  